@font-face {
  font-family: "Calibri";
  src: url('../font/Calibri Regular.ttf');
}

@font-face {
  font-family: "Calibri";
  font-weight: bold;
  src: url('../font/Calibri Bold.TTF');
}

@font-face {
  font-family: "Product Sans";
  src: url('../font/ProductSans-Regular.ttf');
}


.ApolloPanel {
  background-image: url("apolloPagePanel.jpg");
  background-repeat: no-repeat;
  background-position: bottom  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

body {
  margin : 0;
}

#titleApollo {
  z-index:2;
  color : white;
  margin-top: 0;
  padding-top: 4%;
  padding-left: 5%;
  margin : 0;
  font-size: 3em;
  font-family: Product Sans;
  font-weight: lighter;
}

#ApolloDates {
  z-index: 2;
  color : white;
  font-size: 2em;
  font-family: Product Sans;
  font-weight: lighter;
  padding-left: 5%;
  margin : 0;
  height: 50%;

}

.Panel {
  margin : 0;
  display: flex;
}

#TellMeMore {
  border-radius: 10%;
  margin-left: 85%;
  width: 100px;
  height: 60px;
  background-color: #111427;
  color : #898a89;
  border: none;
  box-shadow : 3px 3px 0px #000812;
  font-family: Calibri;
  cursor : pointer;
  font-size: 0.9em;
  outline: none;
}

#TellMeMore:hover {
  border-radius: 10%;
  margin-left: 85%;
  width: 100px;
  height: 60px;
  background-color: #898a89;
  color : #111427 ;
  border: none;
  box-shadow : 3px 3px 0px #000812;
  font-family: Calibri;
  cursor : pointer;
  font-size: 0.9em;
}

.containerTellMeMore {
  width : 120px;
  height: 100px;
  padding-left: 75%;
}

.emptySpace {
  height: 15%;
}

body {
  margin : 0;
}

#menuderoulant{
  background-color: white;
  border : 2px solid #00010d;
  color : #00010d;
  width: 150px;
  border-radius: 10px;
  justify-content:center;
  margin-top: 10px;
  margin-left: 45.5%;
  display: none;
  font-family: Calibri;
  cursor: pointer;
  z-index: 4;
  position: absolute;
}

#gemini:hover {
  cursor: pointer;
  color : #00010d;
}

#gemini {
  color : #888;
}

#background {
    background-image: url("moonfloor.jpg");
    width: 100%;
    height: 100em;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: 0;
}

#objectives, #rocket, #apollo12, #apollo13, #apollo14, #apollo15, #apollo16, #apollo17, #apollo7,
#apollo8, #apollo9, #apollo10, #apollo11, #astronautTraining {
  width: 5%;
  z-index: 2;
  cursor : pointer;
}


.emptycase {
  width : 5%;
}

.row {
  width: 100%;
  height: 90px;
  margin-right: 0;
  margin-left: 0;
}

#expObjectives, #expApollo9, #expApollo12, #expRocket, #expApollo13, #expApollo14, #expApollo15,
#expApollo16, #expApollo17, #expApollo7, #expApollo8, #expApollo10, #expApollo11, #expAstronautTraining {
  background-color: white;
  z-index: 4;
  width: 70vw;
  min-height: 420px;
  max-height: 90vh;
  margin-left: 15%;
  top: 10vh;
  overflow: scroll;
  display: none;
  position: fixed;
  border-radius: 5px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
}


.closeWindow {
  color: #c47d00;
  font-family: Product Sans;
  text-decoration: underline;
  background-color: #c4c6c6;
  width: 50px;
  cursor: pointer;
  border-radius: 12px;
  height: 30px;
  text-align: center;
  margin-left: 94%;
  margin-top: 0;
  margin-right: 15px;
}

.BigTitle {
  color : #934500;
  text-align: center;
  font-size: 2.5em;
}

.inside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.videoapollo11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text {
  color : black;
  font-family: Calibri;
  width: 55%;
  text-align: justify;
  margin-left: 5px;
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.saturn {
  display: flex;
}

.images2 {
  display: flex;
  flex-direction: column;
}
